*{
     font-family: "Inter", sans-serif;
}
.contactbtn{
    border: 2px solid grey;
    padding: 10px 18px;
    color:rgb(21, 142, 33);
}
.contactbtn i{
    color: rgb(21, 142, 33);
}
.contactbtn:hover{
    border: 1px solid rgb(191, 67, 67);
    background-color: rgb(218, 197, 166);
    color: brown;
    
}
.call{
    background:linear-gradient(to right, rgb(125, 172, 122), pink);
    color: rgb(66, 60, 60);
    padding: 10px 18px;
}
.bannerContent h1{
    font-size: 52px;
    font-weight: 700;
}
.bannerContent p{
    font-size: 22px;
}
.bannerContent h1 span{
    color: rgb(186, 167, 104);
}
.bannerContent ul{
    list-style: none;
} .bannerContent ul li{
    font-size: 22px;
}
.bannerButton button{
    width: 50%;
    padding: 10px 0px;
    border-radius: 5px;

}
.bannerButton button:first-child{
    background: linear-gradient(to right, rgb(195, 88, 88), pink);
    color: rgb(54, 55, 67);
}
.bannerButton button:nth-child(2){
    background: linear-gradient(to right, rgb(127, 163, 131), rgb(192, 193, 121));
    color: rgb(54, 55, 67);
}
.bannerForm{
    padding: 40px;

}
.bannerForm h3{
    font-size: 18px;
    font-weight: 700;
}